<section class="cart-container">
  <h3 class="text-red-bold subtitle">Your Cart ({{ (cart$ | async)?.length }})</h3>
  <!-- @for(cartItem of cart$ | async; track cartItem) {
  <p>
    {{ cartItem?.name }} - price: {{ cartItem?.price }} -- qty: x{{
      cartItem.quantity
    }}
    <button (click)="removeFromCart(cartItem)">delete item</button>
  </p>
  }@empty {
  <p>Cart empty</p>
  } -->

  @for(cartItem of cart$ | async; track cartItem) {
  <app-cart-item [cartItem]="cartItem" />
  }

  <button (click)="placeOrder()" class="btn">Confirm new Order</button>
</section>
