<div class="base-list-item">
  <ng-content select="[item-image]" />
  <div class="body-content flex-between">
    <div>
      <!-- item name -->
      <p>{{ Item.name }}</p>
      <div class="price-and-qty">
        <p class="text-red-bold">{{ Item.quantity }}x</p>
        <p class="text-light">
          {{ "@" }} {{ Item.price | currency : "USD" : "symbol" : "1.2-2" }}
        </p>
        
        <ng-content select="[item-total-price]" />
      </div>
    </div>
    <ng-content select="[item-action]" class="item-content" />
  </div>
</div>
