/* You can add global styles to this file, and also import other style files */

@font-face 
    font-family: "Red Hat", sans-serif
    src: url("/assets/RedHatText-VariableFont_wght.ttf") format("truetype")
    


// Font families
$ff-redhat: "Red Hat", sans-serif

// Global colors 

$clr-red: #C73B0F
$clr-rose-900: #260F08
$clr-rose-500: #87635A
$clr-rose-400: #AD8A85
$clr-rose-300: #CAAFA7
$clr-rose-100: #F5EEEC
$clr-rose-50: #FCF8F6
$clr-green: #1EA575


// Font sizes 

$fs-50: 4px
$fs-100: 8px
$fs-150: 12px
$fs-200: 16px
$fs-300: 24px
$fs-400: 32px
$fs-500: 40px
$fs-900: 88px


