// Font families
$ff-redhat: "Red Hat Text", sans-serif

// Global colors 

$clr-red: #C73B0F
$clr-red-dark: #952C0B
$clr-rose-900: #260F08
$clr-rose-500: #87635A
$clr-rose-400: #AD8A85
$clr-rose-300: #CAAFA7
$clr-rose-100: #F5EEEC
$clr-rose-50: #FCF8F6
$clr-green: #1EA575


// Font sizes 

$fs-80: 8px
$fs-100: 14px
$fs-200: 16px
$fs-300: 24px
$fs-400: 32px
$fs-500: 40px
$fs-900: 88px


// utility classes 
.title 
    font-size: $fs-500
    font-weight: bold !important
    margin-bottom: 1.5rem

.subtitle
    font-size: $fs-300


p 
    font-size: $fs-200

.text-sm 
    font-size: $fs-100

.text-light
    color: $clr-rose-500

.text-red-bold
    color: $clr-red
    font-weight: bold
.text-semi-bold
    font-weight: 600

.image-fluid 
    width: 100%
    height: 100%
    object-fit: cover

.product-grid
    display: grid
    // grid-template-columns: repeat(3, 1fr)
    grid-template-columns: 1fr
    gap: 1rem

.flex
    display: flex

.flex-between
    display: flex
    justify-content: space-between
    align-items: center

.flex-center 
    display: flex
    justify-content: center
    align-items: center

.order-image
    width: 100px
    height: 55px
    overflow: hidden
    border-radius: 8px

.btn 
    padding: 1.2rem 1rem
    border-radius: 20rem
    border: 1px solid $clr-rose-500
    font-weight: 600
    background: $clr-red
    font-size: $fs-200
    color: white
    text-align: center
    width: 100%
    transition: all .3s ease

    &:hover
        background: $clr-red-dark

.text-elipses
    text-overflow: ellipsis

.scrollable
    scroll-behavior: smooth
    border-bottom: 1.5px solid $clr-rose-100

/* width */
.scrollable::-webkit-scrollbar 
  width: 5px
  height: 3px

.loading-img
    filter: blur(10px)

img
    transition: all .2s ease-in-out


/* Track */
.scrollable::-webkit-scrollbar-track 
  background: $clr-rose-100
  border-radius: 5px


/* Handle */
.scrollable::-webkit-scrollbar-thumb 
  background: white
  border-radius: 20px
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)


/* Handle on hover */
.scrollable::-webkit-scrollbar-thumb:hover 
  background: $clr-rose-400


.no-scroll 
  overflow: hidden


// main styling 
body
    font-family: $ff-redhat
    padding: 0
    margin: 0
    box-sizing: border-box
    background-color: $clr-rose-50
    // margin-inline: auto

h1, h2, h3, h4, h5, h6 
  margin: 0 0 1rem
  font-weight: 600


p 
  margin: 0 0 1rem

picture
    background: rgba(232, 229, 229, 0.837)


@media (min-width: 480px) 
    body
        padding-inline: 2rem


@media (min-width: 576px) 
    body
        padding-inline: 1.5rem
        padding-top: 1.5rem
    .product-grid
        grid-template-columns: repeat(2, 1fr)
        gap: 2rem


@media (min-width: 992px) 
    .product-grid
        grid-template-columns: repeat(3, 1fr)

       
@media (min-width: 1200px) 
    body
        padding: 0
        padding-top: 1.5rem
        width: 100%
        margin-inline: 0